<div class="container text-center">
<h1>New game</h1>

<br>

<% @letters.each do |letter| %>
    <span class="letter shadow-sm p-3 mb-5"><%= letter %></span>
<% end %>

<br>
<br>


<form action="/score" method="POST">

  <label for="name">What is the longest word you can find?</label>
  <input type="text" name="word">
  <input type="submit" value="Submit">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>





</div>

